#form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  padding-left: calc((100% / 12) * 1);
  padding-right: calc((100% / 12) * 1);
  margin-bottom: 90px;
  position: relative;
  margin-top: 55px;
  width: 80%;

  @media screen and(max-width: 768px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  &>div {
    flex-basis: 100%;
  }

  input[type="text"] {
    border: none;
    /* Get rid of the browser's styling */
    //border-bottom:1px solid $inputColor; /* Add your own border */
    background-color: transparent;
    font-size: 18px;
    height: 40px;
    outline: none;
    color: $blue;
    width: 100%;
  }

  textarea {
    border: none;
    background-color: transparent;
    font-size: 18px;
    line-height: 25px;
    outline: none;
    color: $blue;
    width: 100%;
    position: relative;
    z-index: 2;
    resize: none;
    min-height: 25px;
    overflow: hidden;
    margin-top: 10px;
  }
}

.form--wrapper {
  position: relative;

  @media screen and(max-width: 560px) {
    margin: 0 -15px;
  }

  .form--title {
    margin-top: 67px;
    color: $blue;
    font-size: 40px;
    padding-left: calc((100% / 12) * 1);
  }

  .success {
    width: calc((100% / 12) * 10);
    margin: 0 auto;
    height: 400px;
    background: #f7f7f7;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: calc((100% / 12) * 1);
    margin-top: 40px;
    margin-bottom: 40px;
    display: none;

    h1 {
      color: $blue;
      font-size: 40px;
      line-height: 50px;
    }

    p {
      font-size: 18px;
      line-height: 26px;
      color: $gray;
      width: 55%;
    }
  }
}

// Animation on <label>
#textarea-fieldset {
  position: relative;
  border: none;
  margin-bottom: 20px;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 0px;
  border-bottom: 1px solid $gray;

  &:first-child input {
    border-radius: 4px 4px 0 0;
    z-index: 2;
  }

  &.is-focused,
  &.is-focused {
    border-bottom: 1px solid $blue;
  }
}

fieldset {
  position: relative;
  border: none;
  margin-bottom: 20px;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 0px;
  border-bottom: 1px solid $gray;

  &:first-child input {
    border-radius: 4px 4px 0 0;
    z-index: 2;
  }

  &:focus {
    border-bottom: 1px solid $blue;
  }
}

label {
  position: absolute;
  top: 15px;
  left: 0px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
  z-index: 1;
  font-size: 18px;
  color: $black;
  letter-spacing: 0;
  line-height: 19px;
}

input {

  &.is-empty+label,
  &:focus+label {
    text-transform: uppercase;
    color: $gray;
    font-size: 12px;
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
  }
}

textarea {

  &:focus+label,
  &.is-focused+label {
    text-transform: uppercase;
    color: $gray;
    font-size: 12px;
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
  }
}

.submit {
  position: relative;
  top: 26px;
  text-align: center
}

.btn-submit {
  background: $blue;
  border-radius: 100px;
  border: none;
  color: $white;
  font-size: 17px;
  padding: 20px 71px;
  margin: 0 auto;

  @media screen and(max-width: 560px) {
    padding: 20px 50px;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset;
}

.form-error {
  color: red;
  position: relative;
  top: -20px;
  font-size: 12px;
}

.g-recaptcha>div {
  width: auto !important;
  font-size-adjust: 0.25;
}

.rc-anchor-normal .rc-anchor-pt,
.rc-anchor-invisible .rc-anchor-pt,
.rc-anchor-compact .rc-anchor-pt {
  font-size: 10px;
}

.rc-anchor-logo-text {
  font-size: 10px;
}