footer {
  background-color: #25292C;
  padding: 50px 0;
}

.footer {
  display: flex;
  justify-content: space-between;

  @media screen and(max-width: 660px) {
    flex-direction: column;
    text-align: center;
  }

  ul li {
    list-style: none;
    color: $white;
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 7px;
  }

  &-logo {
    font-size: 30px;
    line-height: 36px;
  }
}

.footer-info {
  &--title p {
    font-weight: 400;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    color: #00aeef;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0px;
    text-transform: uppercase
  }

  &--content p {
    font-weight: 300;
    color: $white;
    font-size: 15px;
    line-height: 1.9;
    letter-spacing: 0px;
  }
}

.social-media {
  i {
    margin-right: 15px;
    color: $white;
    transition: all 0.5s ease;
    cursor: pointer;
  }

  i:first-child {
    font-size: 13px;
  }

  i:hover {
    color: $blue;
    transition: all 0.5s ease
  }
}

@media screen and(max-width: 660px) {

  .footer-logo,
  .phone,
  .address,
  .email,
    {
    margin-bottom: 20px;
  }

  .phone,
  .social-media {
    margin-top: 20px;
  }
}