* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mukta Mahee', sans-serif;
  color: $white
}

.parallax {
  background-image: url("../images/naslovna1.jpg");
  width: 100%;
  height: calc(100vh - 232px);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 2;

  @media screen and(max-width: 660px) {
    height: 380px;
  }
}

nav {
  &.no-parallax {
    height: auto;

    @media screen and(max-width: 660px) {
      height: 66px;
    }

    /*  &:after {
      display: block;
      background: white;
      opacity: 1;
    } */
    .logo a,
    .main-navigation ul li a {
      color: $black
    }
  }

  position: relative;
  height: calc(100vh - 232px);

  @media screen and(max-width: 660px) {
    height: auto;
  }

  /* 
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.1;
  } */
  .logo {
    font-size: 40px;
    position: relative;
    z-index: 2;

    @media screen and(max-width: 660px) {
      position: absolute;
      left: 15px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and(max-width: 660px) {
      flex-direction: column;
    }
  }

  .main-navigation {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;

    @media screen and(max-width: 660px) {
      display: none;
      top: 100px;
    }

    ul {
      @media screen and(max-width: 660px) {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }

    ul li {
      display: inline;
      margin-right: 40px;

      @media screen and(max-width: 660px) {
        margin-right: 0px;
        text-align: center;
        margin-bottom: 20px;
      }

      a {
        cursor: pointer;
        padding: 20px;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 1.4px;

        @media screen and(max-width: 660px) {
          padding: 10px;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

a {
  text-decoration: none;
}

@media screen and (max-width:660px) {
  .hamburger {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 11;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 3px;
    background-color: $white;
    margin: 6px 0;
    transition: 0.4s;
  }

  .hamburger.white .bar1,
  .hamburger.white .bar2,
  .hamburger.white .bar3,
    {
    background-color: $white;
  }

  .hamburger.white.change .bar1,
  .hamburger.white.change .bar2,
  .hamburger.white.change .bar3,
  .hamburger.black .bar1,
  .hamburger.black .bar2,
  .hamburger.black .bar3 {
    background-color: $black;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
}