.hero {
  width: 100%;
  padding: 140px 0 140px 0;

  &--image {
    background-image: url("../images/yacht.jpg");
  }

  &--title {
    font-weight: 400;
    font-style: $white;
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: 1px;
    position: relative;
    z-index: 2;
  }

  &--content {
    width: 50%;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: $gray900;
    font-size: 25px;
    line-height: 1.4;
    letter-spacing: 0px;
    position: relative;
    z-index: 2;
  }
}