.hero {
  width: 100%;
  padding: 120px 0 140px 0;
  position: relative;

  @media screen and(max-width: 660px) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 70px;
    height: 380px;
  }

  &--image {
    background-position-y: bottom;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    &-one{
      background-image: url("../images/naslovna3.jpg");
      background-position-x: 100%;
    }
    &-two{
      background-image: url("../images/naslovna2.jpg");
    }
    &-three{
      background-image: url("../images/naslovna4.jpg");
    }
  }


  &--title {
    font-weight: 400;
    font-style: $white;
    font-size: 50px;
    width: 60%;
    line-height: 1.1;
    letter-spacing: 1px;
    position: relative;
    z-index: 2;

    @media screen and(max-width: 660px) {
      font-size: 30px;
      width: 100%;
    }
  }

  &--bigger{
    text-align: center;
    font-size: 65px;
    width: 100%;
  }

  &--content {
    width: 50%;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: $gray900;
    font-size: 25px;
    line-height: 1.4;
    letter-spacing: 0px;
    position: relative;
    z-index: 2;

    @media screen and(max-width: 660px) {
      font-size: 20px;
      width: 100%;
    }
  }
  &--content-center{
    width: 100%;
    text-align: center;
  }

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.2;
  }
}

.hero-center {
  justify-content: center;
  display: flex;
  align-items: center;
  height: calc(100% - 80px);

  @media screen and (max-width: 660px) {
    height: 380px;
  }
}