.container {
  width: 1080px;
  margin: 0 auto;
  padding: 0 15px; }

.btn {
  font-size: 14px;
  padding: 12px 15px;
  min-width: 180px;
  border: 2px solid;
  border-radius: 35px;
  letter-spacing: 1.2px;
  display: inline-block; }
  .btn--orange {
    font-style: normal;
    text-align: center;
    color: white;
    background-color: #fc653e;
    border-color: #fc653e;
    text-transform: uppercase; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mukta Mahee', sans-serif;
  color: white; }

nav {
  background-image: url("../images/sailboat-blue-water.jpg");
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
  background-attachment: fixed; }
  nav:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.1; }
  nav .logo {
    font-size: 40px;
    position: relative;
    z-index: 2; }
  nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  nav .main-navigation {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2; }
    nav .main-navigation ul li {
      display: inline;
      margin-right: 40px; }
      nav .main-navigation ul li a {
        cursor: pointer;
        padding: 20px;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 1.4px; }
      nav .main-navigation ul li:last-child {
        margin-right: 0; }

a {
  text-decoration: none; }

.section--wrapper {
  width: 50%;
  padding-right: 140px; }
.section--title__small {
  color: #00aeef;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0px;
  text-transform: uppercase;
  position: relative;
  display: inline; }
  .section--title__small:after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    top: 40px;
    background-color: #fc653e; }
.section--title__big {
  color: black;
  font-size: 35px;
  line-height: 1.4;
  letter-spacing: 0px;
  margin-top: 60px;
  margin-bottom: 20px; }
.section--title__content {
  color: #a1a1a1;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0px;
  margin-bottom: 20px;
  cursor: pointer; }

.section--image {
  width: 50%;
  background-size: cover;
  background-position: center;
  background-image: url("../images/sailing-yacht.jpg"); }

.about-us {
  display: flex;
  margin-top: 70px; }

footer {
  background-color: #25292C;
  padding: 50px 0; }

.footer {
  display: flex;
  justify-content: space-between; }
  .footer--wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between; }
    .footer--wrapper ul li {
      list-style: none;
      color: white;
      text-decoration: none;
      font-weight: 300;
      font-style: normal; }
  .footer-logo {
    font-size: 30px;
    line-height: 36px; }

.footer-info {
  width: 50%;
  display: flex;
  justify-content: flex-end; }
  .footer-info--title p {
    font-weight: 400;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    color: #00aeef;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0px;
    text-transform: uppercase; }
  .footer-info--content p {
    font-weight: 300;
    color: white;
    font-size: 15px;
    line-height: 1.9;
    letter-spacing: 0px; }

.address,
.phone {
  margin-right: 50px; }

.social-media i {
  margin-right: 15px;
  color: #e7ceb1;
  transition: all 0.5s ease;
  cursor: pointer; }
.social-media i:first-child {
  font-size: 13px; }
.social-media i:hover {
  color: #fc653e;
  transition: all 0.5s ease; }

.our-services {
  display: flex;
  background: #F4F2EF;
  margin-top: 70px; }
  .our-services--image {
    width: 40%;
    background-size: cover;
    background-position: center;
    background-image: url("../images/sailing-yacht.jpg"); }
  .our-services--content {
    width: 40%;
    margin-left: 100px;
    padding: 70px 0; }

/*# sourceMappingURL=style.css.map */
